@{
    ViewData["Title"] = "Home Page";
}
<style>
    .restaurant-images img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
        margin-bottom: 10px;
    }
</style>

<h2 class="text-center mb-4">Welcome to MyRestaurant</h2>
<div class="row restaurant-images mt-4">
    <div class="col-md-4">
        <img src="https://th.bing.com/th/id/OIP.CX30G6_E5q-YG5qdTHQVSQHaE2?w=282&h=185&c=7&r=0&o=7&cb=thvnextc1&dpr=1.5&pid=1.7&rm=3" alt="Restaurant 1" />
    </div>                          
    <div class="col-md-4">
        <img src="https://th.bing.com/th/id/OIP.LAKlyp7D03xGufDu_LE6mAHaE8?cb=thvnextc1&rs=1&pid=ImgDetMain" />
    </div>
    <div class="col-md-4">
        <img src="https://th.bing.com/th/id/OIP.YamMPBCHGp81ovPp5kXDdgHaEL?w=264&h=180&c=7&r=0&o=7&cb=thvnextc1&dpr=1.5&pid=1.7&rm=3" alt="Restaurant 3" />
    </div>
</div>
<div class="row restaurant-images mt-4">
    <div class="col-md-4">
        <img src="https://th.bing.com/th/id/OIP.4zRLlAQthCoPPnRLO74APAHaFa?w=214&h=180&c=7&r=0&o=7&cb=thvnextc1&dpr=1.5&pid=1.7&rm=3" />
    </div>
    <div class="col-md-4">
        <img src="https://wallpaperaccess.com/full/3014622.jpg" />
    </div>
    <div class="col-md-4">
        <img src="https://th.bing.com/th/id/OIP.CX30G6_E5q-YG5qdTHQVSQHaE2?w=282&h=185&c=7&r=0&o=7&cb=thvnextc1&dpr=1.5&pid=1.7&rm=3" alt="Restaurant 3" />
    </div>
</div>
    </div>